<div class="grid-container">
    <div class="product-overview"></div>
    <div class="cart"></div>
</div>

<style>
.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.product-overview
{
   border: 2px solid #333;
   grid-column: span 2;
}
</style>